# Directories #
**/bin/
**/obj/
**/out/
**/.vs/
**/.vscode/
**/packages/
**/node_modules/
**/wwwroot/dist/
**/wwwroot/lib/

# Files #
*.user
*.userprefs
*.suo
*.userosscache
*.sln.docstates
*.cache
*.csproj.user
*.vbproj.user
*.tmp
*.TMP
*.vshost.*
*.vshost.exe.manifest
*.vshost.exe.config
*.nupkg
*.pidb
*.log
*.vspscc
*.vssscc
*.mdf
*.ldf
*.dbmdl
*.jfm
*.dbproj.schemaview
Dockerfile*
*.md
README.md
LICENSE
.git
.gitignore
.dockerignore
*.sh
*.bat
*.ps1
*.psm1
*.cmd
*.njsproj
*.njproj
*.esproj
*.sln
*.swp
*.bak
*.tmp
*.tgz
*.gz
*.sql
*.pptx
*.xlsx
*.docx
*.pdf
.nuget/
.global.json
.azure/
.gh/
.github/
.gitlab/
